#todasFacturas {
    display: flex;
    flex-direction: column;

    .factura {
        background-color: var(--color2);
        margin-top: 0.5em;
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5em;
        opacity: 0.5;

        &:hover {
            background-color: var(--color4);
        }

        p {
            flex: 1;
            text-align: center;
        }
    }

    .displonible {
        opacity: 1;
    }
}
