.administraProducto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.administraProducto .fa-trash-alt, .administraProducto .fa-pencil-alt {
    width: 1.5em;
    height: auto;
    transition: 0.5s;
}

.administraProducto div {
    margin: .5em;
}

.administraProducto .fa-trash-alt:hover {
    color: var(--color7);
}

.administraProducto .fa-pencil-alt:hover {
    color: var(--color8);
}