#seccionLocalAdministracion{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    article {
        background-color: var(--color4);
        flex: 1 40%;
        margin: 1em;
        padding: 1em;
        text-align: center;
        text-decoration: none;
        color: var(--color1);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            background-color: var(--color2);
            color: var(--color6);
        }
    }

    h1 {
        flex: 1 100%;
        text-align: center;
        padding: 1em;
    }

}