#productos {
    min-width: 100vw;
    background-color: var(--color2);
    display: flex;
    flex-wrap: wrap;
    min-height: 0;

    input {
        display: none;

        & + label + .opcionElegida {
            display: none;
        }

        &:checked + label {
            background-color: var(--color4);

            & + .opcionElegida {
                display: flex;
                order: 1;
                background-color: var(--color4);
            }
        }
    }
    label {
        padding: 1em;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: var(--color1);
        }
    }
    .opcionElegida {
        height: calc(100% - 3em);
        flex: 100%;
        overflow-y: auto;

        .contenedorProductos {
            flex-wrap: wrap;
            display: flex;
            margin-bottom: 1.5em;
            justify-content: space-evenly;
            margin-bottom: auto;

            .producto {
                padding: 1em;
                margin: 1em;
                flex: 0 calc(100% / 4 - 2em);
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 0 0 0.5em var(--color1) inset;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background-color: var(--color2);
                }
            }
        }
    }
}