.boton {
    height: 3em;
    margin: .5rem;
    background-color: var(--color2);
    border:none;
    cursor:pointer;
    color: var(--color6);
    border-radius: .5em;
    transition:.5s;

    &:hover {
        background-color: var(--color1);
    }
    
}