.boton {
    height: 3em;
    margin: 0.5em;
    background-color: var(--color2);
    border:none;
    cursor:pointer;
    color: var(--color6);
    border-radius: 0.5em;
    transition:0.5s;

    &:hover {
        background-color: var(--color1);
    }
    
}