@import "../../comunes/variables";

#seccionLineaDeFactura {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    #titulo {
        flex: 100%;
        display: flex;
        padding: 1em;
        background-color: var(--color6);
        margin-bottom: 1em;
        align-items: center;
        color: var(--color1);

        * {
            cursor: pointer;
        }

        .derecha {
            margin-left: auto;
        }

        svg {
            height: 2em;
            width: auto;
            margin-left: 1em;
            color: var(--color1);
        }
    }

    #nombreLocalImpresion {
        display: none;
    }

    > article {
        width: 100%;
    }
    #agregarProductos {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: auto;

        article {
            width: calc((100% / 3) - (2em / 1)) !important;
            background-color: var(--color4);
            padding: 1em;
            text-align: center;
            text-decoration: none;
            color: var(--color1);
            transition: 0.5s;
            cursor: pointer;
            margin: 1em;

            &:hover {
                background-color: var(--color2);
                color: var(--color6);
            }
        }
    }
    #botonExtender {
        width: 100%;
        margin: 0;
        border-radius: 1em 1em 0 0;
        margin-bottom: 0.1em;
    }
}
.oculto {
    display: none !important;
}

#formularioCambiaNombre {
    display: flex;
    flex-direction: column;

    strong {
        text-align: center;
        padding: 0.5em 0;
    }
    p {
        margin-left: 1em;
    }
}

#divBotonOculto {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media (min-width: $escritorio) {
    #seccionLineaDeFactura {
        article {
            width: 49% !important;
        }
        #agregarProductos {
            display: flex !important;
        }
        #contieneFactura {
            display: initial !important;
        }
        & ~ div .botonAbajoDerecha {
            display: none;
        }
    }
}

@media print {
    body {
        --color1: #262626 !important;
        --color2: #5e5e5e !important;
        --color3: #b5b5b5 !important;
        --color4: #c4c4c4 !important;
        --color5: #ffffff !important;
        --color6: #ffffff !important;
        --color7: #aa3838 !important;
        --color8: #88ba69 !important;
    }
    header,
    .botonAbajo,
    #popup {
        display: none !important;
    }

    #seccionLineaDeFactura {
        svg,
        table tr td:last-child,
        table tr th:last-child {
            display: none !important;
        }
        #nombreLocalImpresion {
            display: initial;
        }
    }
    * {
        filter: blur(0) !important;
    }
}
