#lineaDeFactura {
    display: flex;
    flex-wrap: wrap;

    h2 {
        width: 100%;
        text-align: center;
        padding: 0.5em;
    }

    #factura {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 0 50%;
        height: 80vh;
        overflow-y: auto;

        .producto {
            display: flex;
            text-decoration: none;
            cursor: pointer;

            &:nth-child(2n) {
                background-color: var(--color2);
            }

            &:hover {
                background-color: var(--color3);
                p {
                    color: var(--color1);
                }
            }

            p {
                flex: 0 25%;
                padding: 0.2em 0.5em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .titulo {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            position: sticky;
            top: 0;
            background-color: var(--color1);
            box-shadow: 0 0 0.5em var(--color3);
        }
        .pie {
            position: sticky;
            bottom: 0;
            padding: 0.5em 0;
            background-color: var(--color1);
            box-shadow: 0 0 0.5em var(--color3);
            margin-top: auto;
        }
    }

    #productos {
        flex: 1;
        background-color: var(--color2);
        display: flex;
        flex-wrap: wrap;
        height: min-content;

        input {
            display: none;

            & + label + .contenedorProductos {
                display: none;
            }

            &:checked + label {
                background-color: var(--color4);

                & + .contenedorProductos {
                    display: flex;
                    order: 1;
                    background-color: var(--color4);
                }
            }
        }
        label {
            padding: 1em;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: var(--color1);
            }
        }

        .contenedorProductos {
            flex: 100%;
            display: flex;
            flex-wrap: wrap;

            .producto {
                padding: 1em;
                margin: 1em;
                flex: 0 calc(100% / 3 - 2em);
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                box-shadow: 0 0 0.5em var(--color1) inset;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background-color: var(--color2);
                }
            }
        }
    }
}
