#seccionLineaDeFactura h1 {
    padding: 1em;
    text-align: center;
}

#seccionLineaDeFactura #titulo {
    display: flex;
    padding: 1em;
    background-color: var(--color6);
    margin-bottom: 1em;
    align-items: center;
}

#seccionLineaDeFactura .derecha {
    margin-left: auto;
}

#seccionLineaDeFactura img {
    height: 2em;
    width: auto;
    margin-left: 1em;
}