* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color1: #262626;
    --color2: #5E5E5E;
    --color3: #B5B5B5;
    --color4: #C4C4C4;
    --color5: #EEEEEE;
    --color6: #FFFFFF;
    --color7: #aa3838;
    --color8: #88BA69;
}
body {
    background-color: var(--color5);
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--color1);
}