* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--color3);
}

:root {
    --color1: #0d1117;
    --color2: #161b22;
    --color3: #acb0b9;
    --color4: #2d3341;

}
body {
    background-color: var(--color1);
}

#main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    padding: 0.5em;
}
