@import "../../comunes/variables";

#contieneLogin {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    #login {
        width: 80%;
        background-color: var(--color4);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 0.5em black;
        border-radius: 0.5em;

        h1 {
            margin-top: 0.5em;
            padding: 0.5em;
            color: var(--color1);
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .linkCambio{
            text-align: center;
            font-size: .7em;
            padding: .5em;
        }
        
        p{
            text-align: center;
        }
    }
}

@media (min-width: $tablet) {
    #login {
        width: 50% !important;
    }
}

@media (min-width: $escritorio) {
    #login {
        width: 30% !important;
    }
}