@import "../../comunes/variables";

#contieneLogin {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    #login {
        width: 80%;
        background-color: var(--color4);
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 0.5em black;
        border-radius: 0.5em;
        z-index: 1;

        form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            .input {
                flex: 1 100%;
            }
            .boton {
                flex: 1;
            }
        }

        .linkCambio {
            flex: 100%;
            display: flex;
            text-decoration: none;
            margin: 0.5rem;

            input {
                flex: 1;
                margin: 0;
            }
        }

        p {
            text-align: center;
        }
    }

    span {
        position: absolute;
        width: 3em;
        height: 3em;
        background-color: var(--color2);
        opacity: 0.5;
        bottom: 0;
        transition: 0.5s;

        &:hover {
            background-color: var(--color1);
        }

        &:nth-child(2) {
            animation: rota1 20s linear 0s infinite forwards;
        }
        &:nth-child(3) {
            animation: rota2 10s linear 0s infinite forwards;
        }
        &:nth-child(4) {
            animation: rota3 15s linear 0s infinite forwards;
        }

        &:nth-child(5) {
            animation: rota4 20s linear 0s infinite forwards;
        }

        &:nth-child(6) {
            animation: rota5 10s linear 0s infinite forwards;
        }

        @keyframes rota1 {
            from {
                transform: translate(-15vw, 10vh) rotate(20deg) scale(2);
            }
            to {
                transform: translate(-15vw, -110vh) rotate(-120deg);
            }
        }

        @keyframes rota2 {
            from {
                transform: translate(-10vw, 100vh) rotate(20deg) scale(10);
            }
            to {
                transform: translate(-10vw, -200vh) rotate(120deg) scale(10);
            }
        }

        @keyframes rota3 {
            from {
                transform: translate(50vw, 30vh) rotate(20deg) scale(3);
            }
            to {
                transform: translate(50vw, -110vh) rotate(-120deg);
            }
        }

        @keyframes rota4 {
            from {
                transform: translate(30vw, 20vh) rotate(20deg);
            }
            to {
                transform: translate(30vw, -200vh) rotate(220deg) scale(5);
            }
        }

        @keyframes rota5 {
            from {
                transform: translate(-40vw, 90vh) rotate(20deg);
            }
            to {
                transform: translate(-40vw, -110vh) rotate(220deg) scale(2);
            }
        }
    }
}

@media (min-width: $tablet) {
    #login {
        width: 50% !important;

        .linkCambio {
            flex: 1 !important;
        }

        .boton {
            order: 1;
        }
    }
}

@media (min-width: $escritorio) {
    #login {
        width: 30% !important;
    }
}
