main section {
    flex: 1 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main section div {
    background-color: var(--color4);
    flex: 1 60%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: var(--color1);
    transition: 0.5s;
    cursor: pointer;
}

main section div:hover {
    background-color: var(--color2);
    color: var(--color6);
}

h1 {
    flex: 1 100%;
    text-align: center;
    margin: 1em;
    margin-bottom: 0.5em;
}

#opcionesLocal{
    display: none;
}