* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color1: #262626;
    --color2: #5E5E5E;
    --color3: #B5B5B5;
    --color4: #C4C4C4;
    --color5: #EEEEEE;
    --color6: #FFFFFF;
    --color7: #D26A6A;
    --color8: #88BA69;
}

body{
    background-color: var(--color5);
}

main {
    display: flex;
    flex-wrap: wrap;
}

#pantallaDeCarga{
    position:fixed;
    width: 100vw;
    height:100vh;
    background-color: var(--color5);
    z-index:99999;
    display:flex;
    justify-content: center;
    align-items: center;
}

#pantallaDeCarga div{
    width:30vw;
    height:30vw;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 4vw;
    position:relative;
}
#pantallaDeCarga div:after{
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 100%;
    border-top:1vw solid var(--color1);
    animation: 1s giro linear infinite;
}

@keyframes giro {
    0%   {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
  }