#facturas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;

    #listadoDeFacturas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .factura {
            background-color: var(--color2);
            padding: 1em;
            text-align: center;
            margin: 1em;
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 0 0.5em var(--color3);
            }
        }
    }

    #nuevaFactura {
        position: sticky;
        bottom: 0;
        background-color: var(--color1);
        width: 100%;
        text-align: center;
        padding: 0.5em;
        font-size: 1.5em;
        text-decoration: none;
        border-top: 0.1em solid var(--color4);
        opacity: 0.6;
        transition: 0.5s;
        margin-top: auto;

        &:hover {
            opacity: 1;
        }
    }
}

@media (min-width: 50em) {
    #facturas {
        flex-direction: row;

        #listadoDeFacturas {
            flex: 1;
            margin-bottom: auto;
        }
    }
}
