#menuPrincipal {
    display: flex;
    border-bottom: 0.1em solid var(--color4);
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--color1);
    z-index: 1000;

    .titulo {
        font-weight: bold;
        font-size: 1.5em;
        padding: 0.5em;
        text-decoration: none;
    }

    ul {
        display: flex;
        flex: 1;

        li {
            list-style: none;
            opacity: 0.5;
            transition: 0.5s;
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 1;

                ul {
                    top: 100%;
                }
            }

            ul {
                position: absolute;
                top: -100vh;
                display: flex;
                flex-direction: column;
                width: 100%;
                border: 0.1em solid var(--color1);

                li {
                    background-color: var(--color2);
                    opacity: 1;

                    &:hover {
                        background-color: var(--color4) !important;
                    }
                }
            }

            a {
                display: flex;
                align-items: center;
                padding: 1em;
                text-decoration: none;
            }
        }

        .selected {
            background-color: var(--color4);
            opacity: 1;
        }

        #cerrarSesion {
            margin-left: auto;
            background-color: var(--color5);
            background-image: linear-gradient(90deg, var(--color1), var(--color5));
            padding-left: 2em;
        }
    }
}
