#menuPrincipal {
    display: flex;
    border-bottom: 0.1em solid var(--color4);
    width:100%;

    h1 {
        font-size: 1.5em;
    }

    ul {
        display: flex;
        flex: 1;

        li {
            list-style: none;
            opacity: 0.5;
            transition: 0.5s;

            &:hover {
                opacity: 1;
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0.5em;
                text-decoration: none;
            }
        }

        .selected {
            background-color: var(--color4);
            opacity: 1;
        }

        #cerrarSesion {
            margin-left: auto;
            background-color: var(--color5);
            background-image: linear-gradient(90deg, var(--color1), var(--color5));
            padding-left: 2em;
        }
    }
}
