.contieneTabla {
    flex: 1 100%;
    white-space: nowrap;

    .tabla {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 1em;
        color: var(--color1);

        th {
            background: var(--color2);
            color: var(--color6);
            padding: 1em;
        }

        td {
            padding: 1em;
            cursor: pointer;
        }

        td,th {
            width: calc(100% / 5);
        }

        .diferente {
            background-color: var(--color4);
        }
    }
}
