.botonAbajo {
    width: 5em;
    height: 5em;
    background-color: var(--color1);
    border-radius: 100%;
    position: fixed;
    bottom: 0;
    margin: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 2em;
        height: 2em;
        color: var(--color6);
    }
}

.botonAbajoDerecha {
    right: 0;
}

main{
    margin-bottom:7em
}