main section {
    flex: 1 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main section a {
    background-color: var(--color4);
    flex: 1 40%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: var(--color1);
    transition: 0.5s;
}

main section a:hover {
    background-color: var(--color2);
    color: var(--color6);
}

h1 {
    flex: 1 100%;
    text-align: center;
    margin: 1em;
    margin-bottom: 0.5em;
}

#facturas, #LineaDeFactura {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom:1em;
}

#divLineaDeFactura {
    width: 90vw;
    overflow-x: auto;
    margin-bottom:8em;
    flex:1 100%;
}

#facturas tr:first-child, #LineaDeFactura tr:first-child {
    background:var(--color2);
    color: var(--color6);
}

#facturas tr:not(:first-child):hover, #LineaDeFactura tr:not(:first-child):hover{
    box-shadow: 0 0 0.5em 0.2em var(--color1);
    position: relative;
}

#facturas td, #LineaDeFactura td {
    padding: 1em;
    cursor: pointer;
}

#facturas th, #LineaDeFactura th {
    padding: 1em;
}

.diferente {
    background-color: var(--color4);
}

#seccionLineaDeFactura {
    display: none;
}

#tituloLineaDeFactura {
    display: flex;
    padding: 1em;
    align-items: center;
    flex:1 100%;
}

.derecha {
    margin-left: auto;
}

#tituloLineaDeFactura img {
    width: 2em;
    margin-left: 1em;
}

/** Botones abajo **/
.boton{
    width:6em;
    height:6em;
    background-color:var(--color1);
    border-radius: 100%;
    position: fixed;
    bottom:0;
    margin:1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 0;
}

.boton img{
    width:auto;
    height:50%;
    color:var(--color6);
}

#botonIzquierda{
    left:0;
}

#botonDerecha{
    right:0;
}