main section {
    flex: 1 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main section a {
    background-color: var(--color4);
    flex: 1 40%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: var(--color1);
    transition: 0.5s;
}

main section a:hover {
    background-color: var(--color2);
    color: var(--color6);
}

h1 {
    flex: 1 100%;
    text-align: center;
    margin: 1em;
    margin-bottom: 0.5em;
}

#fondoMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: none;
}

#checkHamburguesa:checked+#menu #fondoMenu {
    display: initial;
}

#facturas, #LineaDeFactura {
    width: 100vw;
    border-collapse: collapse;
    text-align: center;
}

#divLineaDeFactura {
    width: 100vw;
    overflow-x: auto;
}

#facturas tr:first-child {
    background: linear-gradient(150deg, var(--color3) 50%, var(--color2) 50%);
    color: var(--color6);
    border: 0.1em solid var(--color1);
}

#LineaDeFactura tr:first-child {
    background-color: var(--color3);
    color: var(--color6);
    border: 0.1em solid var(--color1);
}

#facturas td, #LineaDeFactura td {
    border-bottom: 0.1em solid var(--color1);
    padding: 1em;
}

#facturas th, #LineaDeFactura th {
    padding: 1em;
}

.diferente {
    background-color: var(--color4);
}

#seccionLineaDeFactura {
    display: none;
}

#tituloLineaDeFactura {
    display: flex;
    padding: 1em;
    align-items: center;
}

.derecha {
    margin-left: auto;
}

#tituloLineaDeFactura img {
    width: 2em;
    margin-left: 1em;
}