#seccionFacturas {
    flex: 1 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#seccionFacturas h1 {
    flex: 1 100%;
    text-align: center;
    margin: 1em;
    margin-bottom: 0.5em;
}