#botonBuscar {
    flex: 1 100%;
    margin: 1em 3em;
    position: relative;
    z-index: 0;

    input {
        width: 100%;
        height: 3rem;
        border: none;
        z-index: 1;
        background-color: var(--color6);
        position: relative;
        padding-right: 3em;
    }

    div {
        width: 3rem;
        height: 3rem;
        top: 0;
        background-color: var(--color6);
        position: absolute;
        border-radius: 100%;
        left: -1.5em;
        z-index: 0;
    }

    .busca {
        background-color: var(--color1);
        position: absolute;
        border-radius: 100%;
        border: none;
        width: 3rem;
        height: 3rem;
        top: 0;
        right: -1.5em;
        left: initial;
        z-index: 2;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 1em;
            height: 1em;
            color: var(--color6)
        }
    }
}