#botonBuscar {
    flex: 1 100%;
    margin: 1em 3em;
    position: relative;
    z-index: 0;
}

#botonBuscar input {
    width: 100%;
    height: 3rem;
    border: none;
    z-index: 1;
    background-color: var(--color6);
    position: relative;
    padding-right: 3em;
}

#botonBuscar div {
    width: 3rem;
    height: 3rem;
    top: 0;
    background-color: var(--color6);
    position: absolute;
    border-radius: 100%;
    left: -1.5em;
    z-index: 0;
}

#botonBuscar button {
    width: 3rem;
    height: 3rem;
    top: 0;
    background-color: var(--color6);
    position: absolute;
    border-radius: 100%;
    left: -1.5em;
    z-index: 0;
    border: none;
}

#botonBuscar .busca {
    background-color: var(--color1);
    right: -1.5em;
    left: initial;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonBuscar svg {
    width: 1em;
    height: 1em;
    color: var(--color6)
}